.pic-card {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 10%;
}

.Roles {
    padding: 5% 5%;
    width: 100%;
    margin-bottom: 3%;
    padding-top: 1%;
    background-color: #e2f9ff;
}

.event-row {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.5%;
    padding-bottom: 2%;
    /* margin-top: 0.5%;
  margin-bottom: 2%; */
    display: flex;
    justify-content: space-between;
}


.roles-col {
    flex-basis: 30%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
    transition: 0.5s;
}


.Roles h1 {
    font-size: 2.5em;
    font-weight: 600;
    color: var(--font-blk);
}

.head2 {
    margin-top: 4%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 1000;
    padding-bottom: 2%;
}

.card {
    list-style: none;
    position: relative;
}

.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    bottom: 3%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.5s ease;
}

.card__background:hover {
    transform: scale(1.1);
}