
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-size: 10px; */
}

body , html {
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #c9c8c8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b3b2b2;
}
/* overriding common nav css  */
nav{
  position: fixed;
}

.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 80%,rgba(241, 241, 241, 1) 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.hero img{
  
  height: 99.8vh;
}

.content h3{
  font-size: 140px;
  color: black;
  background-color: rgba(255, 253, 253, 0.932);
  background-size: 900px;
  box-shadow: black;
  padding: 20px 20px 20px 20px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .content h3{
    font-size: 60px;

  }
  
}


.phoneimg{
width: 100%;
}

.collage{ 
  position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 99.4%;
	width: auto;
	height: auto;
	z-index: -2;
	transform: translateX(-50%) translateY(-50%); 
  filter: saturate(2);     
}

@media screen and (max-width:768px){
  
}



.event3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  background-color: #F1F1F1;
  margin-top: 80px;
  margin-bottom: 180px;
}



.FoodFiesta{
  width: 100%;
  max-width: 1300px;
  padding: 50px;
  background-image: linear-gradient(to right,#f82f2f 0%, #800000 70%);
  box-shadow: 0 14px 80px rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.FoodFiesta_img{
  min-width: 350px;
  max-width: 350px;
  height: 300px;
  transform: translateX(-80px);
  position: relative;
}

.FoodFiesta_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

.FoodFiesta_img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 30px 1px rgba(0, 0, 0, 0.05);
  border-radius: 80px;
}

.FoodFiesta_info p{
  display: block;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  margin: 5px 0;
}

.FoodFiesta_title{
  font-size: 55px;
  font-weight: 600;
  margin: 5px 0 20px;
  text-transform: uppercase;
  color: #fefe00;
}

.FoodFiesta_cta{
  display: inline-block;
  padding: 15px 30px;
  margin-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  font:bold;
  color: whitesmoke;
  background-color:black;
  border-radius: 8px;
}

.FoodFiesta_cta:hover{
  background-image:linear-gradient(to right,#af0202 0%, #f82f2f 90%);
  color: whitesmoke;
}

@media screen and (max-width:1500px){
  .FoodFiesta{
    max-width: 80%;
  }
}

@media screen and (max-width:1068px){
  .FoodFiesta{
    max-width: 800px;
  }

  .FoodFiesta_img{
    min-width: 300px;
    max-width: 300px;
  }
}

@media screen and (max-width:868px){
  .FoodFiesta{
   max-width: 700px;
  }
}

@media screen and (max-width:768px){
  .FoodFiesta{
   padding: 20px;
   flex-direction: column;
  }

  .FoodFiesta_img{
    min-width: 50%;
    max-width: 50%;
    height: 50%;
  }  
  .FoodFiesta_img{
    min-width: 80%;
    max-width: 90%;
    transform: translate(0,-60px);
  }
  
  .FoodFiesta_title{
    font-size: 28px;
    margin: 1px 0 1px;
  }

  .FoodFiesta_info p{
    font-size: 140%;
    font-weight: 300;
  }
}


.event2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  background-color: #F1F1F1;
  margin-top: 80px;
  margin-bottom: 180px;
}

.sharktank{
  width: 100%;
  max-width: 1300px;
  padding: 50px;
  background-image: linear-gradient(to right,#07c4b7 0%, #022679 80%);
  box-shadow: 0 14px 80px rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.sharktank_img{
  min-width: 350px;
  max-width: 350px;
  height: 300px;
  transform: translateX(-80px);
  position: relative;
}

.sharktank_img img{
  width: 100%;
  height: 100%;
  object-fit:fill;
  display: block;
  border-radius: 15px;
  background-color: rgb(255, 255, 255)
}

.sharktank_img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 30px 1px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.sharktank_info p{
  display: block;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  margin: 5px 0;
}

.sharktank_title{
  font-size: 55px;
  margin: 15px 0 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #f3e039;
}


.sharktank_cta{
  display: inline-block;
  padding: 15px 30px;
  margin-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  font:bold;
  color: whitesmoke;
  background-color:black;
  border-radius: .80px;
}

.sharktank_cta:hover{
  background-image:linear-gradient(to right,#022679  0%, #15cfc3  90%); 
  color: whitesmoke;
}

@media screen and (max-width:1500px){
  .sharktank{
    max-width: 80%;
  }
}


@media screen and (max-width:1068px){
  .sharktank{
    max-width: 800px;
  }

  .sharktank_img{
    min-width: 300px;
    max-width: 300px;
  }
}

@media screen and (max-width:868px){
  .sharktank{
   max-width: 700px;
  }
}

@media screen and (max-width:768px){
  .sharktank{
    padding: 20px;
    flex-direction: column;
   }
 
   .sharktank_img{
     min-width: 80%;
     max-width: 80%;
     height: 80%;
   }  

   .sharktank_img::before{
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

   .sharktank_img{
      min-width: 80%;
     max-width: 90%;
     transform: translate(0,-60px);
   }
   
   .sharktank_title{
     font-size: 28px;
     margin: 1px 0 1px;
   }
 
   .sharktank_info p{
    font-size: 140%;
    font-weight: 300;
   }
 }



.event1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  background-color: #F1F1F1;
  margin-top: 80px;
  margin-bottom: 180px;
}

.podcast{
  width: 100%;
  max-width: 1300px;
  padding: 50px;
  background-image: linear-gradient(to right,#6a50d1 0%, #0C003D 100%);
  box-shadow: 0 14px 80px rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.podcast_img{
  min-width: 350px;
  max-width: 350px;
  height: 300px;
  transform: translateX(-80px);
  position: relative;
}

.podcast_img img{
  width: 100%;
  height: 100%;
  object-fit:fill;
  display: block;
  border-radius: 15px;
}

.podcast_img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 30px 1px rgba(0, 0, 0, 0.05);
  border-radius: 80px;
}

.podcast_info p{
  display: block;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  margin: 5px 0;
}

.podcast_title{
  font-size: 55px;
  margin: 15px 0 20px;
  text-transform: uppercase;
  color: #f3e039;
  font-weight: 600;
}


.podcast_cta{
  display: inline-block;
  padding: 15px 30px;
  margin-top: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 15px;
  font:bold;
  color: whitesmoke;
  background-color:black;
  border-radius: 8px;
}

.podcast_cta:hover{
  background-image:linear-gradient(to right, #0C003D 0%, #6a50d1  90%); 
  color: whitesmoke;
}

@media screen and (max-width:1500px){
  .podcast{
    max-width: 80%;
  }
}


@media screen and (max-width:1068px){
  .podcast{
    max-width: 800px;
  }

  .podcast_img{
    min-width: 300px;
    max-width: 300px;
  }
}

@media screen and (max-width:868px){
  .podcast{
   max-width: 700px;
  }
}

@media screen and (max-width:768px){
  .podcast{
    padding: 20px;
    flex-direction: column;
   }
 
   .podcast_img{
    min-width: 50%;
    max-width: 50%;
    height: 50%;
   }  

   
   .podcast_img{
     min-width: 80%;
     max-width: 90%;
     transform: translate(0,-60px);
   }
   
   .podcast_title{
     font-size: 28px;
     margin: 1px 0 1px;
   }
 
   .podcast_info p{
    font-size: 140%;
    font-weight: 300;
   }
 }

.hed{
  width: 100%;
  height: 30vh;
  display: grid;
  place-items: center;
  background-color: black;
}

.hed h1{
color: #fff;
font-size: 80px;
}

@media screen and (max-width:768px){
.hed h1{
  font-size: 400%;
}
}

.contact-card a{
  font-size: 16px;
}

.contact-card i{
  font-size: 16px;
}

.footer-wrapper h1{
  font-size: 40px;
}

.event4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  background-color: #F1F1F1;
  margin-top: 80px;
  margin-bottom: 180px;
}

.women{
  width: 100%;
  max-width: 1300px;
  padding: 50px;
  background-image: linear-gradient(to right,#4eabdd 0%, #c82339 80%);
  box-shadow: 0 14px 80px rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.women_img{
  min-width: 350px;
  max-width: 350px;
  height: 300px;
  transform: translateX(-80px);
  position: relative;
}

.women_img img{
  width: 100%;
  height: 100%;
  object-fit:fill;
  display: block;
  border-radius: 15px;
}

.women_img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 30px 1px rgba(0, 0, 0, 0.05);
  border-radius: 80px;
}

.women_info p{
  display: block;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  margin: 5px 0;
}

.women_title{
  font-size: 45px;
  margin: 15px 0 20px;
  text-transform: uppercase;
  color: #f3e039;
  font-weight: 600;
}

@media screen and (max-width:1500px){
  .women{
    max-width: 80%;
  }
}

@media screen and (max-width:1068px){
  .women{
    max-width: 800px;
  }

  .women_img{
    min-width: 300px;
    max-width: 300px;
  }
}

@media screen and (max-width:868px){
  .women{
   max-width: 700px;
  }

  .women_title{
    font-size: 35px;
    
  }
}

@media screen and (max-width:768px){
  .women{
    padding: 20px;
    flex-direction: column;
   }
 
   .women_img{
    min-width: 50%;
    max-width: 50%;
    height: 50%;
   }  
   .women_img{
    min-width: 80%;
    max-width: 90%;
     transform: translate(0,-60px);
   }
   
   .women_title{
     font-size: 28px;
     margin: 1px 0 1px;
   }
 
   .women_info p{
     font-size: 140%;
     font-weight: 300;
   }
 }



.event5 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  background-color: #F1F1F1;
  margin-top: 80px;
  margin-bottom: 80px;
}

.beach{
  width: 100%;
  max-width: 1300px;
  padding: 50px;
  background-image: linear-gradient(to right,#4E65FF 0%, 	#62b0bc 80%);
  box-shadow: 0 14px 80px rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.beach_img{
  min-width: 350px;
  max-width: 350px;
  height: 300px;
  transform: translateX(-80px);
  position: relative;
}

.beach_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}


.beach_info p{
  display: block;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  margin: 5px 0;
}

.beach_title{
  font-size: 45px;
  margin: 15px 0 20px;
  text-transform: uppercase;
  color: #f3e039;
  font-weight: 600;
}

@media screen and (max-width:1500px){
  .beach{
    max-width: 80%;
  }
}


@media screen and (max-width:1068px){
  .beach{
    max-width: 800px;
  }

  .beach_img{
    min-width: 300px;
    max-width: 300px;
  }
}

@media screen and (max-width:868px){
  .beach{
   max-width: 700px;
  }
}

@media screen and (max-width:768px){
  .beach{
    padding: 20px;
    flex-direction: column;
   }
 
   .beach_img{
    min-width: 50%;
    max-width: 50%;
    height: 50%;
   } 
   .beach_img::before{
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
   
   .beach_img{
    min-width: 80%;
    max-width: 90%;
     transform: translate(0,-60px);
   }
   
   .beach_title{
     font-size: 28px;
     margin: 1px 0 1px;
   }
 
   .beach_info p{
    font-size: 140%;
    font-weight: 300;
   }
 }