.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2.5%;
  gap: 1em;
  width: 100%;
  @media screen and (max-width: 900px) {
    gap: 0.7em;
  }
}

.container-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  @media screen and (max-width: 900px) {
    gap: 0.7em;
  }
}

.segment {
  display: flex;
  gap: 0.7em;
}

.flip-card {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  color: #ff7a7a;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.segment-title {
  font-size: 3vh;
  text-align: left;
  margin-bottom: 2.5%;
  font-weight: 500;
  text-transform: capitalize;
  @media screen and (max-width: 900px) {
    font-size: 16px;
  }
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  font-size: 4vh;
  line-height: 1;
  padding: 10px;
  height: 3.3vh;
  text-align: center;
  overflow: hidden;
  width: 55px;
  @media screen and (max-width: 900px) {
    font-size: 32px;
    height: 0.82em;
  }
}

// #fdaaaa

.top,
.flip-card .top-flip {
  background-color: #f7f7f7;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.05);
}
.bottom,
.flip-card .bottom-flip {
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  overflow: hidden;
  transform: rotateX(90deg);
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

// [data-days-tens],
// [data-days-ones] {
//   color: #e51aec;
// }

// [data-hours-tens],
// [data-hours-ones] {
//   color: #8d03fc;
// }

// [data-minutes-tens],
// [data-minutes-ones] {
//   color: #1f5fff;
// }

// [data-seconds-tens],
// [data-seconds-ones] {
//   color: #0ac9ff;
// }
