@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #c9c8c8;
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b3b2b2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
