.sponsor-img-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0 5em;

  @media screen and (max-width: 450px) {
    height: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;

    .sponsor-img {
      width: 100px;
    }
  }
}
.sponsor-img {
  height: auto;
  width: 185px;
  margin-top: 2%;
}

.sponsor-title {
  text-transform: uppercase;
}

.pattern-right {
  height: auto;
  width: 150px;
  position: absolute;
  top: -75px;
  left: 75px;
  z-index: 0;

  @media screen and (max-width: 900px) {
    width: 75px;
    top: -37px;
    left: 30px;
  }
}
.pattern-left {
  height: auto;
  width: 1024px;
  position: absolute;
  bottom: -700px;
  right: -30%;
  z-index: 0;

  @media screen and (max-width: 1200px) {
    width: 720px;
    right: -40%;
    bottom: -500px;
  }
  @media screen and (max-width: 850px) {
    bottom: -350px;
    width: 512px;
    right: -25%;
  }
  @media screen and (max-width: 450px) {
    right: -55%;
  }
}

.sponsor-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

// section:nth-of-type(4):hover .slide-btn {
//   visibility: visible;
// }

.slide-btn {
  width: 50px;
  height: 50px;
  position: relative;
  font-size: 1.5em;
  background-color: #f7f7f7;
  color: #676767;
  border-radius: 50%;
  z-index: 0;

  visibility: hidden;

  // display: none;
  cursor: pointer;
  .bi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 768px) {
    width: 35px;
    height: 35px;
    font-size: 1.2em;
  }
}

.slide-btn:hover {
  background-color: #e7e7e7e7;
  color: #676767;
}

.display-area {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  // background-color: red;
}

.sponsor-card {
  height: auto;
  width: 100%;
  // display: none;
  // position: absolute;
  // top: 50%;
  @media screen and (max-width: 430px) {
    width: 0%;
  }
}

.sponsor-slider {
  width: 300%;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  transition: transform 1.5s ease-in;
}
