.timeline-wrapper {
  max-width: 1440px;
  position: relative;
  margin: 15px auto;
  padding: 0;
  height: 100%;
}

.timeline-wrapper .row {
  display: flex;
  position: relative;
}

.timeline-wrapper .row:nth-of-type(even) {
  justify-content: flex-start;
}
.timeline-wrapper .row:nth-of-type(odd) {
  justify-content: flex-end;
}

.timeline-wrapper .row section {
  background: #fff;
  border-radius: 7.5px;
  width: calc(50% - 60px);
  padding: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5em 0;
  position: relative;
  box-shadow: var(--box-shadow);
}

.timeline-wrapper .row-1 section {
  gap: 1.5em;
}

.timeline-wrapper .row section::before {
  background: #ffffff;
  content: "";
  width: 17.5px;
  height: 17.5px;
  position: absolute;
  top: 28px;
  transform: rotate(45deg);
  z-index: 1;
}

.row-1 section::before,
.row-3 section::before,
.row-5 section::before {
  right: -7.5px;
}

.row-2 section::before,
.row-4 section::before {
  left: -7.5px;
}

.timeline-wrapper .center-line {
  position: absolute;
  height: 90%;
  width: 5px;
  background: linear-gradient(
    rgba(255, 154, 0, 1) 0%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%
  );
  left: 50%;
  border-radius: 1rem;
}

.row section .details {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  align-items: center;
  .title {
    font-size: 1.2em;
    font-weight: 600;
  }
}

.bottom {
  a {
    text-transform: capitalize;
    text-decoration: none;
    background: #ff7a7a;
    font-weight: 500;
    padding: 8px 16px;
    color: #e9fffd;
    border-radius: 5px;
  }
}

.row section p {
  text-align: left;
}

.timeline-wrapper .icons {
  width: 55px;
  height: 55px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 48.25%;
  top: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.icons-1 {
  border: 5px solid #ff7a7a;
  // background: linear-gradient(180deg, #fe9b01 0%, #e7bc11 100%);
}
.icons-2 {
  border: 5px solid #4ddc5e;
}
.icons-3 {
  border: 5px solid #31cce0;
}

.icons-4 {
  border: 5px solid #7a12f4;
}

.icons-5 {
  border: 5px solid #fb07d9;
}

@media screen and (max-width: 750px) {
  .timeline-wrapper {
    height: 100%;
  }
  .timeline-wrapper .center-line {
    left: 5px;
    height: 100%;
  }
  .timeline-wrapper .icons {
    left: -50px;
    width: 40px;
    height: 40px;
  }

  .icons-1 {
    border: 3px solid #ff7a7a;
    // background: linear-gradient(180deg, #fe9b01 0%, #e7bc11 100%);
  }
  .icons-2 {
    border: 3px solid #4ddc5e;
  }
  .icons-3 {
    border: 3px solid #31cce0;
  }

  .icons-4 {
    border: 3px solid #7a12f4;
  }

  .icons-5 {
    border: 3px solid #fb07d9;
  }

  .timeline-wrapper .row {
    margin: 20px 0 3px 40px;
  }

  .timeline-wrapper .row section {
    width: 100%;
    padding: 20px 20px;
    gap: 0.5em 0;
  }
  .row-1 section::before,
  .row-2 section::before,
  .row-3 section::before,
  .row-4 section::before,
  .row-5 section::before {
    left: -7.5px;
  }

  .row section .details {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  }
  .row p {
    font-size: 0.8em;
  }

  .bottom {
    a {
      text-transform: capitalize;
      text-decoration: none;
      background: #ff7a7a;
      font-weight: 500;
      padding: 8px 12px;
      color: #e9fffd;
      border-radius: 5px;
      font-size: 0.95em;
    }
  }
}
