@import "./reset";
@import "./navbar";
@import "./animatedBackground";
@import "./timeline";
@import "./countdown";
@import "./scrollDownArrow";
@import "../../../common/css/footer.scss";
@import "./sponsor";

:root {
  --background-color: #f7f7f7;
  --font-blk: #292f36;
  --font-blk-gray: rgba(41, 47, 54, 0.6);
  --font-white: #fff;
  --font-blk: #292f36;
  --transition-nav: 300ms linear;
  --border: #dadce0 solid 1px;
  --box-shadow: 1.5px 3.4px 3.6px -46px rgba(0, 0, 0, 0.01),
    4.1px 9.3px 9.9px -46px rgba(0, 0, 0, 0.026),
    9.9px 22.3px 23.8px -46px rgba(0, 0, 0, 0.049),
    33px 74px 79px -46px rgba(0, 0, 0, 0.08);
}

article {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  //   text-align: center;
  color: var(--font-blk);
}

section {
  width: 100%;
  padding: 70px 100px;
  position: relative;
}

section:nth-of-type(1) {
  height: 100vh;
  background-color: #fff;
  background: linear-gradient(180deg, #e1e1e1, #ffffff);
}

section:nth-of-type(2) {
  height: calc(50vh - 10%);
  background-color: #eefafc;
  p {
    margin-top: 2%;
    font-size: 17.5px;
    color: var(--font-blk-gray);
  }
}

section:nth-of-type(3) {
  height: auto;
  background-color: #f8fafd;
  padding: 0;
  h1 {
    padding: 0px 100px;
    padding-top: 65px;
  }
}

// Sponsors section:nth-of-type(4)
section:nth-of-type(4) {
  height: 450px;
  background-color: #ffffff;
  padding-inline: 100px;
  padding-block: 70px;
  overflow: hidden;
  position: relative;

  @media screen and (max-width: 1100px) {
    height: 525px;
    padding-inline: 32px;
    padding-block: 50px;
  }

  @media screen and (max-width: 430px) {
    height: 600px;
    padding-inline: 16px;
    padding-block: 35px;
  }
}

// Incentives section:nth-of-type(5)
section:nth-of-type(5) {
  height: auto;
}

.home-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.counter-wrapper {
  height: auto;
  width: 100%;
  margin-block: 25px;
  // background-color: pink;
  text-align: center;
  h2 {
    font-size: 5vh;
    span {
      background-color: #f3ec78;
      background-image: linear-gradient(
        90deg,
        rgb(243, 30, 233) 0%,
        rgb(138, 2, 253) 30%,
        rgb(80, 3, 255) 60%,
        rgb(16, 123, 255) 90%,
        rgb(7, 239, 255) 100%
      );
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }
  @media screen and (min-width: 901px) and (max-width: 1100px) {
    width: 75vw;
  }

  @media screen and (max-width: 1100px) {
    width: 100vw;
  }
}

.hero-img {
  width: 100%;
  height: 45vh;
  object-fit: contain;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1000px) and (max-height: 775px) {
    display: block;
    height: 275px;
  }
}

.incentives-wrapper {
  //   background-color: #bfddff;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 100px;
  margin-top: 2.5%;
  gap: 0 1.5em;
  padding-bottom: 100px;
}

.cards {
  height: 275px;
  width: 325px;
}
.cards:nth-of-type(1) {
  width: 327px;
}

.cards:nth-of-type(3),
.cards:nth-of-type(4) {
  .card-img-cont {
    width: 210px;
  }
}

.card-img-cont {
  height: 150px;
  width: 150px;
  object-fit: contain;
}
.cards-details {
  margin-top: 15px;

  h4 {
    font-size: 1.2em;
  }
  p {
    margin-top: 2.5px;
    color: rgba(41, 47, 54, 0.5);
    font-size: 1em;
    text-align: justify;
  }
  @media screen and (max-width: 900px) {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 2.1rem;
    //   text-align: center;
    color: var(--font-blk);
  }

  section {
    width: 100%;
    padding: 65px 32px;
  }
  section:nth-of-type(2) {
    p {
      margin-top: 5%;
      font-size: 15px;
      text-align: justify;
    }
  }
  .cards {
    width: 300px;
    height: 300px;
  }

  section:nth-of-type(3) {
    height: calc(100vh + 50%);
    h1 {
      padding: 0px 32px;
      padding-top: 65px;
    }
  }
  // timeline section :nth-of-type(5)
  section:nth-of-type(5) {
    height: auto;
  }

  .incentives-wrapper {
    //   background-color: #bfddff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 0 32px;
    padding-bottom: 50px;
  }

  .hero-img {
    height: 300px;
    width: 100%;
    z-index: 1;
    object-fit: contain;
  }

  .incentives-wrapper {
    gap: 0;
    margin-top: 60px;
  }
  .card-img-cont {
    height: 150px;
    width: 150px;
  }
}

@media screen and (min-width: 395px) and (max-width: 501px) {
  .hero-img {
    height: 275px;
    width: 100%;
    z-index: 1;
  }
  h1 {
    font-size: 2.3rem;
    //   text-align: center;
    color: var(--font-blk);
  }

  .cards {
    width: 100%;
    height: 325px;
  }

  .nav-header {
    padding: 2.5px 16px;
  }

  section:nth-of-type(2) {
    height: calc(55vh + 10%);
  }

  section:nth-of-type(3) {
    height: calc(105vh + 12.5%);
  }
  //   section:nth-of-type(5) {
  //     height: 2vh;
  //   }
}

@media screen and (max-width: 392px) {
  h1 {
    font-size: 2.3rem;
    //   text-align: center;
    color: var(--font-blk);
  }

  .cards {
    width: 100%;
    height: 325px;
  }

  .nav-header {
    padding: 2.5px 16px;
  }

  section:nth-of-type(2) {
    height: calc(70vh + 7.5%);
  }

  section:nth-of-type(3) {
    height: calc(130vh + 7.5%);
  }
  .hero-img {
    height: 250px;
    width: 100%;
    z-index: 1;
  }
  // Incentives section:nth-of-type(5)
  // section:nth-of-type(5) {
  //   height: auto;
  // }
}
