@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #c9c8c8;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b3b2b2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

nav {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0px;
  z-index: 2;
}

.nav {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  position: absolute;
  top: -80px;
  transition: top 0.3s;
  border: var(--border);
  z-index: 2;
}

.logo {
  height: 55px;
  width: 55px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5px 0;
  box-sizing: content-box;
}

#nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0 2em;
}
#nav-links li {
  text-align: center;
}
#nav-links li a {
  text-decoration: none;
  color: var(--font-blk);
  font-weight: 500;
  font-size: 1.05em;
}
@media screen and (max-width: 1100px) {
  #nav-links {
    flex-direction: column;
    gap: 2em 0;
    padding: 1em 0;
    width: 100%;
    background-color: #fff;
  }
}

@media screen and (max-width: 1100px) {
  .nav {
    padding: 0px;
    flex-direction: column;
    height: 0;
    border: none;
    top: 0;
  }
  .nav-header {
    padding: 5px 32px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    z-index: 3;
    height: auto;
  }
  .logo {
    height: 45px;
    width: 50px;
    padding: 0;
  }
  #nav-links {
    width: 100%;
    transition: var(--transition-nav);
  }
  .nav-links-active {
    width: 100%;
    visibility: visible;
    position: relative;
    top: 0;
    z-index: 1;
  }
  .nav-links-disable {
    visibility: hidden;
    position: relative;
    top: -350px;
    z-index: 1;
  }
  .nav-toggle {
    display: flex;
    height: 25px;
    width: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    z-index: 10;
  }
  .nav-toggle span {
    padding: 0;
    margin: 0;
    height: 3px;
    width: 100%;
    background-color: #00001a;
    border-radius: 1rem;
    transition: var(--transition-nav);
  }
  .nav-toggle span:nth-of-type(1) {
    width: 50%;
  }
  .nav-toggle span:nth-of-type(3) {
    width: 75%;
  }
  .toggle-active span:nth-of-type(1) {
    transform: rotateZ(-45deg) translate(-6.5px, 3.2px);
    transform-origin: top;
  }
  .toggle-active span:nth-of-type(2) {
    transform-origin: bottom;
    transform: rotateZ(45deg);
  }
  .toggle-active span:nth-of-type(3) {
    width: 50%;
    transform-origin: top;
    transform: rotateZ(-45deg) translate(-5.7px, -12.5px);
  }
}
@media screen and (max-width: 501px) {
  .nav-header {
    padding: 0px 16px;
  }
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #e9f1ff;
  -webkit-animation: animate 25s linear infinite;
          animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 45s;
          animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 11s;
          animation-duration: 11s;
}

@-webkit-keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
.timeline-wrapper {
  width: 100%;
  position: relative;
  margin: 2.5% auto;
  padding: 0;
}

.timeline-wrapper .row {
  display: flex;
  position: relative;
}

.timeline-wrapper .row:nth-of-type(even) {
  justify-content: flex-start;
}

.timeline-wrapper .row:nth-of-type(odd) {
  justify-content: flex-end;
}

.timeline-wrapper .row section {
  background: #fff;
  border-radius: 7.5px;
  width: calc(50% - 60px);
  padding: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  position: relative;
  box-shadow: var(--box-shadow);
}

.timeline-wrapper .row-1 section {
  gap: 0.9em;
  background-color: #ff7a7a;
  color: white;
}

.row section::before {
  background: #ffffff;
  content: "";
  width: 17.5px;
  height: 17.5px;
  position: absolute;
  top: 28px;
  transform: rotate(45deg);
  z-index: 0;
}

.row-1 section::before {
  background: #ff7a7a;
}

.row-1 section::before,
.row-3 section::before,
.row-5 section::before {
  right: -9px;
}

.row-2 section::before,
.row-4 section::before {
  left: -9px;
}

.timeline-wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 5px;
  background: linear-gradient(rgb(255, 154, 0) 0%, rgb(208, 222, 33) 20%, rgb(79, 220, 74) 30%, rgb(63, 218, 216) 40%, rgb(47, 201, 226) 50%, rgb(28, 127, 238) 60%, rgb(95, 21, 242) 70%, rgb(186, 12, 248) 80%, rgb(251, 7, 217) 90%);
  left: 50%;
  border-radius: 1rem;
}

.row section .details {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  align-items: center;
}
.row section .details .title {
  font-size: 1.2em;
  font-weight: 600;
}

.btn {
  text-transform: capitalize;
  text-decoration: none;
  background: #fff;
  font-weight: 500;
  padding: 8px 16px;
  color: var(--font-blk);
  border-radius: 5px;
}

.row section p {
  text-align: left;
}

.timeline-wrapper .icons {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: calc(50% - 20px);
  top: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.icons-1 {
  border: 5px solid #ff7a7a;
}

.icons-2 {
  border: 5px solid #4ddc5e;
}

.icons-3 {
  border: 5px solid #31cce0;
}

.icons-4 {
  border: 5px solid #7a12f4;
}

.icons-5 {
  border: 5px solid #fb07d9;
}

@media screen and (max-width: 750px) {
  .timeline-wrapper {
    height: 100%;
  }
  .timeline-wrapper .center-line {
    left: 0;
    height: 87.5%;
  }
  .timeline-wrapper .row-1 section {
    gap: 1em;
  }
  .timeline-wrapper .icons {
    top: 15px;
    left: -55px;
    width: 40px;
    height: 40px;
  }
  .icons-1 {
    border: 3px solid #ff7a7a;
  }
  .icons-2 {
    border: 3px solid #4ddc5e;
  }
  .icons-3 {
    border: 3px solid #31cce0;
  }
  .icons-4 {
    border: 3px solid #7a12f4;
  }
  .icons-5 {
    border: 3px solid #fb07d9;
  }
  .timeline-wrapper .row {
    margin: 20px 0 3px 40px;
  }
  .timeline-wrapper .row section {
    width: 100%;
    padding: 20px 20px;
    gap: 0.5em 0;
  }
  .row-1 section::before,
.row-2 section::before,
.row-3 section::before,
.row-4 section::before,
.row-5 section::before {
    left: -7.5px;
  }
  .row section .details {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  }
  .row p {
    font-size: 0.75em;
  }
  .bottom a {
    text-transform: capitalize;
    text-decoration: none;
    background: #e9fffd;
    font-weight: 500;
    padding: 8px 12px;
    color: var(--font-blk);
    border-radius: 5px;
    font-size: 0.95em;
  }
}
.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.1em;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: 0.75em;
  line-height: 1;
  padding: 0.25em;
  overflow: hidden;
}

.top,
.flip-card .top-flip {
  background-color: #f7f7f7;
  border-top-right-radius: 0.1em;
  border-top-left-radius: 0.1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom,
.flip-card .bottom-flip {
  background-color: white;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  -webkit-animation: flip-top 250ms ease-in;
          animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

@-webkit-keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}

@keyframes flip-top {
  100% {
    transform: rotateX(90deg);
  }
}
.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-animation: flip-bottom 250ms ease-out 250ms;
          animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
  transform: rotateX(90deg);
}

@-webkit-keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes flip-bottom {
  100% {
    transform: rotateX(0deg);
  }
}
.container {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

.container-segment {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  align-items: center;
}

.segment {
  display: flex;
  gap: 0.1em;
}

.segment-title {
  font-size: 1rem;
}

:root {
  --background-color: #f7f7f7;
  --font-blk: #292f36;
  --font-blk-gray: rgba(41, 47, 54, 0.6);
  --font-white: #fff;
  --font-blk: #292f36;
  --transition-nav: 300ms linear;
  --border: #dadce0 solid 1px;
  --box-shadow: 1.5px 3.4px 3.6px -46px rgba(0, 0, 0, 0.01),
    4.1px 9.3px 9.9px -46px rgba(0, 0, 0, 0.026),
    9.9px 22.3px 23.8px -46px rgba(0, 0, 0, 0.049),
    33px 74px 79px -46px rgba(0, 0, 0, 0.08);
}

article {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  color: var(--font-blk);
}

section {
  width: 100%;
  padding: 70px 100px;
  position: relative;
}

section:nth-of-type(1) {
  height: 100vh;
  background-color: #fff;
  background: linear-gradient(180deg, #e7e7e7, #ffffff);
}

section:nth-of-type(2) {
  height: calc(50vh - 10%);
  background-color: #eefafc;
}
section:nth-of-type(2) p {
  margin-top: 2%;
  font-size: 17.5px;
  color: var(--font-blk-gray);
}

section:nth-of-type(3) {
  height: auto;
  background-color: #f8fafd;
  padding: 0;
}
section:nth-of-type(3) h1 {
  padding: 0px 100px;
  padding-top: 65px;
}

section:nth-of-type(4) {
  height: 50vh;
  background-color: #ffffff;
}

section:nth-of-type(5) {
  height: auto;
}

.home-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.counter-wrapper {
  height: auto;
  width: 100%;
  margin-top: 7.5%;
  text-align: center;
}
.counter-wrapper h2 {
  font-size: 3.2em;
}
.counter-wrapper h2 span {
  background-color: #f3ec78;
  background-image: linear-gradient(90deg, rgb(243, 30, 233) 0%, rgb(138, 2, 253) 30%, rgb(80, 3, 255) 60%, rgb(16, 123, 255) 90%, rgb(7, 239, 255) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero-img {
  width: 100%;
  height: 350px;
  -o-object-fit: contain;
     object-fit: contain;
}

.incentives-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 100px;
  margin-top: 2.5%;
  gap: 0 1.5em;
  padding-bottom: 70px;
}

.cards {
  height: 200px;
  width: 325px;
}

.card-img-cont {
  height: 55px;
  width: 55px;
  -o-object-fit: contain;
     object-fit: contain;
}

.cards-details {
  margin-top: 15px;
}
.cards-details h4 {
  font-size: 1.2em;
}
.cards-details p {
  color: rgba(41, 47, 54, 0.5);
  font-size: 0.9em;
  text-align: justify;
}

footer {
  width: 100%;
  height: auto;
  background-color: #292f36;
}

.footer-wrapper {
  width: 100%;
  height: calc(45vh - 10%);
  padding: 25px 100px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 25%, rgb(226, 226, 226) 100%);
}
.footer-wrapper h1 {
  color: var(--font-blk);
  font-size: 2.5rem;
  text-align: center;
}

.footer-ecell {
  height: calc(10vh - 4%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.footer-ecell a {
  color: rgb(127, 192, 187);
  font-size: 16px;
}

.social-media {
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}
.social-media i {
  font-size: 18px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.25%;
  margin-left: 7.5%;
}

.contact-card {
  width: 350px;
  height: auto;
}
.contact-card h4 {
  color: rgb(67, 105, 113);
  font-size: 1.01em;
}

.phone-area,
.email-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0 1em;
}

.contact-content {
  display: block;
}

.footer-ecell {
  text-align: center;
  text-transform: capitalize;
  color: rgb(127, 192, 187);
  padding: 20px 16px;
}
.footer-ecell h5 {
  font-weight: 500;
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 2.1rem;
    color: var(--font-blk);
  }
  section {
    width: 100%;
    padding: 65px 32px;
  }
  section:nth-of-type(2) p {
    margin-top: 5%;
    font-size: 15px;
    text-align: justify;
  }
  .cards {
    width: 100%;
  }
  section:nth-of-type(3) {
    height: calc(100vh + 20%);
  }
  section:nth-of-type(3) h1 {
    padding: 0px 32px;
    padding-top: 65px;
  }
  section:nth-of-type(5) {
    height: auto;
  }
  .incentives-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0 32px;
  }
  .hero-img {
    height: 350px;
    width: 350px;
    z-index: 1;
  }
  .footer-wrapper {
    height: calc(60vh - 10%);
    padding: 25px 32px;
  }
  .footer-wrapper h1 {
    color: var(--font-blk);
    font-size: 2rem;
  }
  .footer-ecell {
    height: calc(10vh - 2.5%);
  }
  .footer-wrapper {
    text-align: center;
  }
  .contact-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2em 0;
    padding: 0 10px;
    margin: 0;
    margin-top: 2.5%;
    margin-left: 5%;
  }
  .contact-card {
    width: 350px;
    height: auto;
    text-align: left;
  }
  .contact-card h4 {
    color: rgb(67, 105, 113);
    font-size: 1.01em;
  }
  .incentives-wrapper {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
    margin-top: 60px;
  }
  .card-img-cont {
    height: 40px;
    width: 40px;
  }
  .social-media {
    width: 100%;
  }
}
@media screen and (min-width: 395px) and (max-width: 501px) {
  .hero-img {
    height: 275px;
    width: 275px;
    z-index: 1;
  }
  h1 {
    font-size: 2.3rem;
    color: var(--font-blk);
  }
  .nav-header {
    padding: 2.5px 16px;
  }
  section:nth-of-type(2) {
    height: calc(55vh + 10%);
  }
  section:nth-of-type(3) {
    height: calc(105vh + 12.5%);
  }
  .footer-wrapper {
    padding: 25px 16px;
    height: calc(55vh + 10%);
  }
  .social-media {
    width: 100%;
  }
  .footer-ecell {
    height: calc(12vh - 10%);
    width: 100%;
  }
}
@media screen and (max-width: 392px) {
  h1 {
    font-size: 2.3rem;
    color: var(--font-blk);
  }
  .nav-header {
    padding: 2.5px 16px;
  }
  section:nth-of-type(2) {
    height: calc(70vh + 7.5%);
  }
  section:nth-of-type(3) {
    height: calc(120vh + 7.5%);
  }
  .hero-img {
    height: 250px;
    width: 250px;
    z-index: 1;
  }
  section:nth-of-type(5) {
    height: auto;
  }
  .social-media {
    width: 100%;
  }
  footer {
    height: auto;
  }
  .footer-wrapper {
    padding: 25px 16px;
    height: auto;
  }
  .footer-ecell {
    height: calc(22vh - 10%);
  }
}/*# sourceMappingURL=style.css.map */