@import "./reset";
@import "./navbar";
@import "./animatedBackground";
@import "./timeline";
@import "./countdown";
@import "./scrollDownArrow";

:root {
  --background-color: #f7f7f7;
  --font-blk: #292f36;
  --font-blk-gray: rgba(41, 47, 54, 0.6);
  --font-white: #fff;
  --font-blk: #292f36;
  --transition-nav: 300ms linear;
  --border: #dadce0 solid 1px;
  --box-shadow: 1.5px 3.4px 3.6px -46px rgba(0, 0, 0, 0.01),
    4.1px 9.3px 9.9px -46px rgba(0, 0, 0, 0.026),
    9.9px 22.3px 23.8px -46px rgba(0, 0, 0, 0.049),
    33px 74px 79px -46px rgba(0, 0, 0, 0.08);
}

article {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  //   text-align: center;
  color: var(--font-blk);
}

section {
  width: 100%;
  padding: 70px 100px;
  position: relative;
}

section:nth-of-type(1) {
  height: 100vh;
  background-color: #fff;
  background: linear-gradient(180deg, #e1e1e1, #ffffff);
}

section:nth-of-type(2) {
  height: calc(50vh - 10%);
  background-color: #eefafc;
  p {
    margin-top: 2%;
    font-size: 17.5px;
    color: var(--font-blk-gray);
  }
}

section:nth-of-type(3) {
  height: auto;
  background-color: #f8fafd;
  padding: 0;
  h1 {
    padding: 0px 100px;
    padding-top: 65px;
  }
}

section:nth-of-type(4) {
  height: 50vh;
  background-color: #ffffff;
}

section:nth-of-type(5) {
  height: auto;
}

.home-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.counter-wrapper {
  height: auto;
  width: 100%;
  margin-top: 1%;
  // background-color: pink;
  text-align: center;
  h2 {
    font-size: 5vh;
    span {
      background-color: #f3ec78;
      background-image: linear-gradient(
        90deg,
        rgb(243, 30, 233) 0%,
        rgb(138, 2, 253) 30%,
        rgb(80, 3, 255) 60%,
        rgb(16, 123, 255) 90%,
        rgb(7, 239, 255) 100%
      );
      background-size: 100%;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }
  @media screen and (min-width: 901px) and (max-width: 1100px) {
    width: 75vw;
  }
  @media screen and (max-width: 900px) {
    width: 100vw;
  }
}

.hero-img {
  width: 100%;
  height: 40vh;
  object-fit: contain;

  z-index: 1;
}

.incentives-wrapper {
  //   background-color: #bfddff;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 100px;
  margin-top: 2.5%;
  gap: 0 1.5em;
  padding-bottom: 100px;
}

.cards {
  height: 275px;
  width: 325px;
}

.cards:nth-of-type(4) {
  .card-img-cont {
    width: 210px;
  }
}

.card-img-cont {
  height: 150px;
  width: 150px;
  object-fit: contain;
}
.cards-details {
  margin-top: 15px;

  h4 {
    font-size: 1.2em;
  }
  p {
    margin-top: 2.5px;
    color: rgba(41, 47, 54, 0.5);
    font-size: 1em;
    text-align: justify;
  }
  @media screen and (max-width: 900px) {
    font-size: 0.9em;
  }
}

footer {
  width: 100%;
  height: auto;
  background-color: #292f36;
}

.footer-wrapper {
  width: 100%;
  height: calc(45vh - 10%);
  padding: 25px 100px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 25%,
    rgba(226, 226, 226, 1) 100%
  );
  h1 {
    color: var(--font-blk);
    font-size: 2.5rem;
    text-align: center;
  }
}

.footer-ecell {
  height: calc(10vh - 4%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  a {
    color: rgb(127, 192, 187);
    font-size: 16px;
  }
}

.social-media {
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  i {
    font-size: 20px;
    @media screen and (max-width: 900px) {
      font-size: 22px;
    }
  }
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  // margin: 2.5% 7.5%;
  margin-top: 2.25%;
  margin-left: 7.5%;
}

.contact-card {
  width: 350px;
  height: auto;
  h4 {
    color: rgb(67, 105, 113);
    font-size: 1.01em;
    @media screen and (max-width: 500px) {
      padding-bottom: 5px;
      font-size: 1em;
    }
  }
}

.contact-card:nth-of-type(2) {
  width: 500px;
}

.phone-area,
.email-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0 1em;
}
.contact-content {
  display: block;
}

.footer-ecell {
  text-align: center;
  text-transform: capitalize;
  color: rgb(127, 192, 187);
  padding: 20px 16px;
  h5 {
    font-weight: 500;
  }
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 2.1rem;
    //   text-align: center;
    color: var(--font-blk);
  }

  section {
    width: 100%;
    padding: 65px 32px;
  }
  section:nth-of-type(2) {
    p {
      margin-top: 5%;
      font-size: 15px;
      text-align: justify;
    }
  }
  .cards {
    width: 300px;
    height: 300px;
  }

  section:nth-of-type(3) {
    height: calc(100vh + 50%);
    h1 {
      padding: 0px 32px;
      padding-top: 65px;
    }
  }

  section:nth-of-type(5) {
    height: auto;
  }

  .incentives-wrapper {
    //   background-color: #bfddff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 0 32px;
    padding-bottom: 50px;
  }

  .hero-img {
    height: 350px;
    width: 100%;
    z-index: 1;
    object-fit: contain;
  }

  .footer-wrapper {
    height: calc(60vh - 10%);
    padding: 25px 32px;
    h1 {
      color: var(--font-blk);
      font-size: 2rem;
    }
  }
  .footer-ecell {
    height: calc(10vh - 2.5%);
  }

  .footer-wrapper {
    text-align: center;
  }

  .contact-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2em 0;
    padding: 0 10px;
    margin: 0;
    margin-top: 2.5%;
    margin-left: 5%;
  }

  .contact-card {
    width: 350px;
    height: auto;
    text-align: left;

    h4 {
      color: rgb(67, 105, 113);
      font-size: 1.01em;
    }
  }

  .incentives-wrapper {
    gap: 0;
    margin-top: 60px;
  }
  .card-img-cont {
    height: 150px;
    width: 150px;
  }
  .social-media {
    width: 100%;
  }
}

@media screen and (min-width: 395px) and (max-width: 501px) {
  .hero-img {
    height: 275px;
    width: 100%;
    z-index: 1;
  }
  h1 {
    font-size: 2.3rem;
    //   text-align: center;
    color: var(--font-blk);
  }

  .cards {
    width: 100%;
    height: 325px;
  }

  .nav-header {
    padding: 2.5px 16px;
  }

  section:nth-of-type(2) {
    height: calc(55vh + 10%);
  }

  section:nth-of-type(3) {
    height: calc(105vh + 12.5%);
  }
  //   section:nth-of-type(5) {
  //     height: 2vh;
  //   }

  .footer-wrapper {
    padding: 25px 16px;
    height: calc(55vh + 10%);
  }
  .social-media {
    width: 100%;
  }
  .footer-ecell {
    height: calc(12vh - 10%);
    width: 100%;
  }
}

@media screen and (max-width: 392px) {
  h1 {
    font-size: 2.3rem;
    //   text-align: center;
    color: var(--font-blk);
  }

  .cards {
    width: 100%;
    height: 325px;
  }

  .nav-header {
    padding: 2.5px 16px;
  }

  section:nth-of-type(2) {
    height: calc(70vh + 7.5%);
  }

  section:nth-of-type(3) {
    height: calc(130vh + 7.5%);
  }
  .hero-img {
    height: 250px;
    width: 100%;
    z-index: 1;
  }
  section:nth-of-type(5) {
    height: auto;
  }
  .social-media {
    width: 100%;
  }

  footer {
    height: auto;
  }

  .footer-wrapper {
    padding: 25px 16px;
    height: auto;
  }

  .footer-ecell {
    height: calc(22vh - 10%);
  }
}
