*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  Helvetica;
  
}

html{
  scroll-behavior: smooth;
  }

body , html {
  overflow-x: hidden;
  overflow-y:auto;
}


.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
	padding: 0;
	margin: 0;
}
.container {
	position: relative;
	margin-top: 100px;
}
.container img {
	display: block;
	width: 100%;
}
nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 70px;
	background-color: rgba(114, 11, 11, 0.837);
}
nav .logo {
	float: left;
	width: 7%;
	height: 100%;
	display: flex;
	align-items: center;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

nav .links a:hover {
  opacity: 0.7;
}


#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 69.9px;
		bottom: 100%;
    position: fixed;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(114, 11, 11, 0.837);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

/** Home **/ 
.content{
  text-align: center;
}
.content h1{
  font-size: 140px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}
.content h1:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.content h2{
  font-size: 60px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}
.content h2:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.back-video{ 
  position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -2;
	transform: translateX(-50%) translateY(-50%);      
}

@media screen and (max-width:430px){
  .content h1{
    font-size: 110px;}
    .content h2{
      font-size: 40px;}
}
/** About **/ 
.about{
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .main img{
  width: 580px;
  max-width: 100%;
  height: auto;
  padding: 0 10px;
  border-style:ridge;
  border-radius: 100px;
  border-color: brown;
}
.all-text{
  width: 600px;
  max-width: 100%;
  padding: 0 10px;
}
.main{
  width: 1290px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.all-text h1{
  font-size: 65px;
  color: rgba(128, 0, 0, 0.81);
  font-weight: 700;
  margin-bottom: 20px;
}



.all-text p{
  font-size: 16px;
  color: #544f4f;
  line-height: 30px;

}

@media screen and (max-width:1250px){
  .about{
      width: 100%;
      height: auto;
      padding: 60px 0;
      
  }
  .all-text{
      text-align: center;
      margin-top: 40px;
  }
}
@media screen and (max-width:650px){
  .about .main img{
      margin-bottom:  35px;
      
  }
  .all-text h1{
      font-size: 45px;
      margin-bottom: 20px;
  }
}

/** Sponsers **/ 

.spon{
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: rgba(128, 0, 0, 0.81);
}

.spon-wrap{
  width: 90%;
  height: auto;
  text-align: center;
}

.spon-wrap h1{
  font-size: 60px;
  color: whitesmoke;
}
.spon-wrap hr{
  width: 15%;
  height: 5px;
  border: none;
  background: whitesmoke;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.spon-in {
  width: 100%;
  height: auto;
}
.spon-in ul{
  padding: 0;
  margin: 0;
}
.spon-in ul li{
  list-style: none;
  display: inline-block;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .10s;
}
.spon-in ul li img{
  width: 100%;
  height: 100%;
}

.spon-in ul li img:nth-child(1){
  transform: translateY(0);
  transition: .5s;
}
.spon-in ul li img:nth-child(2){
  transform: translateY(0);
  transition: .5s;
}

.spon-in ul li:hover img:nth-child(1){
  transform: translateY(-100%);
  transition: .5s;
}
.spon-in ul li:hover img:nth-child(2){
  transform: translateY(-100%);
  transition: .5s;
}

@media(max-width: 650px){
  .spon-in ul li {
    width: 150px;
  height: 150px;
  }
}


/** Jury **/ 
.title{
  text-align: center;
  text-transform: capitalize;
  color: maroon;
  margin-top: 50px;
  position: relative;
  font-size: 50px;
  font-weight: 600;
}

.jury hr{
  width: 15%;
  height: 5px;
  border: none;
  background: brown;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.jury-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.jury1{
  flex: 1 1 250px;
  margin: 20px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  max-width: 400px;
  transition: all 0.3s;
  
}



.jury1 img{
  display: block;
  width: 200px; height: 200px;
  object-fit: cover;
  border:4px solid brown;
  border-radius: 100%;
  margin: 0 auto;
}

.jinsta{
  width: 125px;
  margin: 0 10px;
  padding: 10px;
  font-style: italic;
  border-radius: 60px;
  color: rgb(125, 110, 110);
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.jury h2{
  text-transform: uppercase;
  font-size: 24px;
  color: maroon;
  margin-top: 15px;
  margin-bottom: 0.9px;
}

.jury1 p{
  margin-top: 15px;
  font-size: 15px;
  color: #2c2323;
  line-height: 1.6;
}


/** Participants 
.participants{
  background:rgba(128, 0, 0, 0.81);
  padding:10rem 2rem;
}
.participants hr{
width: 15%;
height: 5px;
border: none;
background: whitesmoke;
margin: auto;
margin-top: 0px;
margin-bottom: 60px;
}

.participants h2 {
text-align: center;
padding: 3rem;
font-size: 60px;
color: whitesmoke;

} 
 
.slick-slide {
margin: 0px 10px;
justify-content: center;
} 
.slick-slide img {
width: 100%;
height: 27vh;
justify-content: center;
}

@media screen and (max-width:850px){
.container h2{
  font-size: 45px;
    text-align: center;
}
}
**/ 


/** Winner **/ 
.winner{
	background-color:rgba(128, 0, 0, 0.81);
	min-height: 100vh;
	padding:70px 15px 30px;
}

.container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}


.winner .section-title{
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.winner .section-title h1{
	font-size: 70px;
	text-align: center;
	margin:0;
	color: white;
	font-weight: 700;
}

.section-title
	hr{
		width: 15%;
		height: 5px;
		border: none;
		background: whitesmoke;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 40px;
	}

.winner .winner-ad{
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.winner .winner-ad .item{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.winner .winner-ad .item img{
	display: block;
	width: 100%;
	border-radius: 8px;
}

.winner .winner-ad .item .inner{
	position: relative;
	z-index: 3;
	padding:0 15px;
}
.winner .winner-ad .item .inner .info{
	background-color: white;
	text-align: center;
	padding: 20px 5px;
	border-radius:20px;
	transition: all .5s ease;
	margin-top: -40px;
}
.winner .winner-ad .item:hover  .info{
    transform: translateY(-20px);
}
.winner .winner-ad .item:hover{
 transform: translateY(-10px);	
}
.winner .winner-ad .item .inner .info h5{
	margin:0;
	font-size: 18px;
	font-weight: 600;
	color: maroon;
}
.winner .winner-ad .item .inner .info p{
	font-size: 16px;
	font-weight: 400;
	color: brown;
	margin:10px 0 0;
}

@media(max-width: 991px){
	.winner .winner-ad .item{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);

   }
}

@media(max-width: 767px){
	.winner .winner-ad .item{
      flex-basis: calc(100%);
       max-width: calc(100%);

   }
}


/** Gallery **/

.Gallery h1{
  margin-top: 2cm;
  margin-bottom: 20px;
  font-size: 70px;
	text-align: center;
	color: maroon;
	font-weight: 700;
}
.Gallery hr{
  width: 9%;
		height: 5px;
		border: none;
		background: maroon;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 40px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1 1 auto;
  flex-basis: 175px;
  margin: .5em;
  max-width: 530px;
  max-height: 300px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.gallery-item.item-2x3 {
  flex-basis: calc(175px * 0.666);
}
.gallery-item.item-3x4 {
  flex-basis: calc(175px * 0.75);
}
.gallery-item.item-1x1 {
  flex-basis: 175px;
}
.gallery-item.item-4x3 {
  flex-basis: calc(175px * 1.333);
}
.gallery-item.item-3x2 {
  flex-basis: calc(175px * 1.5);
}
.gallery-item.item-8x5 {
  flex-basis: calc(175px * 1.6);
}
.gallery-item.item-2x1 {
  flex-basis: calc(175px * 2);
}
.gallery-item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 13.75C4.5 8.64137 8.64137 4.5 13.75 4.5C18.8586 4.5 23 8.64137 23 13.75C23 18.8586 18.8586 23 13.75 23C8.64137 23 4.5 18.8586 4.5 13.75ZM13.75 0C6.15609 0 0 6.15609 0 13.75C0 21.3439 6.15609 27.5 13.75 27.5C16.3774 27.5 18.8327 26.7631 20.9205 25.4846L30.4906 35.0547C31.7509 36.3151 33.7944 36.3151 35.0547 35.0547C36.3151 33.7944 36.3151 31.7509 35.0547 30.4906L25.4846 20.9205C26.7631 18.8327 27.5 16.3774 27.5 13.75C27.5 6.15609 21.3439 0 13.75 0Z' fill='white'/%3E%3C/svg%3E");
  background-position: center;
  background-size: 1.85rem;
  background-repeat: no-repeat;
  transition: opacity 250ms;
  z-index: 10;
}


.gallery-item:hover .thumb {
  transform: scale(1.05);
}
@media (hover: hover) {
  .gallery-item:hover::after {
    opacity: 1;
  }
  .gallery-item:hover .caption {
    transform: translateY(0);
  }
}
.gallery-item .thumb {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: unset;
  text-align: center;
  background-color: #333;
  transition: filter 500ms, transform 500ms;
}
.ie-fix .gallery-item .thumb {
  width: auto;
}
.gallery-item .placeholder {
  filter: blur(20px);
}

.lightbox-wrapper {
  display: none;
  background-color: #2e2e35;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.lightbox {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}
.lightbox .lightbox-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em;
  font-weight: 600;
  text-align: center;
}
.lightbox .lightbox-header > * {
  opacity: .75;
}
.lightbox .lightbox-close {
  position: relative;
  height: 1.85rem;
  width: 1.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 0;
  border: none;
}
.lightbox .lightbox-close::before, .lightbox .lightbox-close::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 80%;
  background-color: #fff;
}
.lightbox .lightbox-close::before {
  transform: rotate(-45deg);
}
.lightbox .lightbox-close::after {
  transform: rotate(45deg);
}
.lightbox .lightbox-close:hover {
  opacity: 1;
}
.lightbox .lightbox-slides-wrapper {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}
.lightbox .lightbox-arrow {
  position: absolute;
  top: 50%;
  width: 4rem;
  height: 4rem;
  padding: .5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em;
  opacity: .75;
  cursor: pointer;
  filter: drop-shadow(0 0 7px #000);
}
.lightbox .lightbox-arrow:hover {
  opacity: 1;
}
.lightbox .lightbox-arrow.arrow-left {
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='53' viewBox='0 0 32 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 26.5L27.3171 0L32 4.54286L9.36585 26.5L32 48.4571L27.3171 53L0 26.5Z' fill='white'/%3E%3C/svg%3E");
}
.lightbox .lightbox-arrow.arrow-right {
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='53' viewBox='0 0 32 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32 26.5L4.68293 53L0 48.4571L22.6341 26.5L3.83911e-06 4.54286L4.68293 0L32 26.5Z' fill='white'/%3E%3C/svg%3E");
}
.lightbox .lightbox-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  transition: all 0ms ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.lightbox .lightbox-slide[data-state="prev"] {
  transform: translateX(-100%);
  opacity: 0;
}
.lightbox .lightbox-slide[data-state="next"] {
  transform: translateX(100%);
  opacity: 0;
}
.lightbox .lightbox-image {
  display: none;
  max-width: 100%;
  max-height: 100%;
}
.lightbox .spinner {
  display: none;
}



/** Footer **/
footer {
  width: 100%;
  height: auto;
  position: relative;
}

.social-media {
  height: auto;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.social-media-cont {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: maroon;
}

.social-media-cont .bi {
  font-size: 1.2em;
}

.email-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0 5em;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .email-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2em 0;
  }
}

.email-area,
.phone-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 0.5rem;
  color: var(--font-blk);
  font-weight: 500;
}

.contact-area {
  color: whitesmoke;
}

.contact-area h4 {
  font-size: 1.1em;
}

.footer-wrapper {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  padding: 1em 2em;
  background: rgba(128, 0, 0, 0.81);
}

.footer-wrapper h3 {
  font-size: 2.7em;
  font-weight: 600;
  color: var(--font-blk);
}

.footer-wrapper p {
  font-size: 1.1em;
  line-height: 2;
}

.footer-wrapper h4 {
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .footer-wrapper {
    gap: 1em 0;
    padding: 1.5em 3em;
    height: auto;
  }
  .footer-wrapper h3 {
    font-size: 2em;
  }
  .footer-wrapper p {
    width: 100%;
    font-size: 0.9em;
  }
}

.footer-ecell {
  color:maroon;
  width: 100%;
  background-color: var(--font-blk);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 0.5em 0;
  padding: 1rem 3rem;
}

.footer-ecell h5 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 0.8em;
}

.register-btn {
  text-decoration: none;
  color: #ffffff;
  background-color: maroon;
  padding: 16px 32px;
  border-radius: 0.7rem;
  font-size: 1.2em;
  cursor: pointer;
}

.register-btn:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: maroon;
  padding: 16px 32px;
  border-radius: 0.7rem;
  font-size: 1.2em;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em 0;
}

.content-area {
  width: 75%;
  height: 100%;
  background-color: #fff;
  border-radius: 0.7rem;
  padding: 0 5rem;
  overflow-y: hidden;
}

@media screen and (max-width: 900px) {
  .content-area {
    width: 100%;
    padding: 0 1rem;
  }
}

.registration-area {
  width: 100%;
  height: 100%;
  background-color: pink;
  overflow-y: auto;
  margin-top: 60px;
}

.hero-img {
  width: 450px;
  height: 450px;
}

@media screen and (max-width: 900px) {
  .hero-img {
    width: 350px;
    height: 450px;
  }
}

.incentives-wrapper {
  width: 100%;
  height: 65%;
  padding: 0 7em;
  gap: 0 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 900px) {
  .incentives-wrapper {
    gap: 1em 0;
    padding: 0 1em;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cards {
  border-radius: 12px;
  width: auto;
  height: auto;
  gap: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 900px) {
  .cards {
    width: 100%;
    gap: 0.5em 0;
  }
}

.incentives-img-cont {
  height: 64px;
  border-radius: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .incentives-img-cont {
    height: 32px;
    margin-top: 0px;
  }
}

.card-details {
  margin-bottom: 25px;
}

.card-details h4 {
  font-size: 1.3em;
  color: var(--font-blk);
  padding-bottom: 4px;
}

.card-details p {
  color: rgba(8, 20, 34, 0.5);
  font-size: 0.9em;
}

@media screen and (max-width: 750px) {
  .card-details {
    padding: 8px;
  }
}

.card-details:nth-of-type(4) {
  padding-left: -10px;
}

.sponsors-display {
  width: 100%;
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sponsors-img {
  height: 100%;
  width: 250px;
}
 