
body , html {
  overflow-x: hidden;
  overflow-y:auto;
}

/* only overriding colors of nav bar here  */
nav{
  position: fixed;
  background-color: maroon;
}
nav .icon-burger .line {
  background-color: white;
}

nav .links a {
  color: white;
}

@media screen and (max-width: 900px) {
  nav .links {
    background-color: white;
  }
  nav .links a {
    color: maroon;
  }
}
/* nav bar ends  */

.hero{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Home **/ 
.content{
  text-align: center;
}
.content h1{
  font-size: 140px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}
.content h1:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.content h2{
  font-size: 60px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}
.content h2:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

.back-video{ 
  position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -2;
	transform: translateX(-50%) translateY(-50%);      
}

@media screen and (max-width:430px){
  nav{
    background-color: maroon;
  }

  .content h1{
    font-size: 110px;}
    .content h2{
      font-size: 40px;}
}
/** About **/ 
.about{
  height: 100vh;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .main img{
  width: 580px;
  max-width: 100%;
  height: auto;
  padding: 0 10px;
  border-radius: 100px;
}
.all-text{
  width: 600px;
  max-width: 100%;
  padding: 0 10px;
}
.main{
  width: 1290px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.all-text h1{
  font-size: 65px;
  color: rgba(128, 0, 0, 0.81);
  font-weight: 700;
  margin-bottom: 20px;
}



.all-text p{
  font-size: 17px;
  color: #544f4f;
  line-height: 30px;

}

@media screen and (max-width:1250px){
  .about{
      width: 100%;
      height: auto;
      padding: 60px 0;
      
  }
  .all-text{
      text-align: center;
      margin-top: 30px;
  }
}
@media screen and (max-width:650px){
  .about .main img{
      margin-bottom:  35px;
      
  }
  .all-text h1{
      font-size: 40px;
      margin-bottom: 20px;
  }
  .all-text p{
    font-size: 15px;
    line-height: 25px;
  
  }
}

/** Sponsers **/ 

.spon{
  width: 100%;
  display: grid;
  place-items: center;
  background: maroon;
}

.spon-wrap{
  width: 90%;
  height: auto;
  text-align: center;
}

.spon-wrap h1{
  font-size: 5rem;
  color: whitesmoke;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.spon-in {
  width: 100%;
  height: auto;
}
.spon-in ul{
  padding: 0;
  margin: 0;
}
.spon-in ul li{
  list-style: none;
  display: inline-block;
  width: 20rem;
  height: 20rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 3rem;
  transition: .10s;
}
.spon-in ul li img{
  width: 100%;
  height: 100%;
}



@media(max-width: 1120px){
  .spon-in ul li {
    width: 30%;
  height: 30%;
  }
  .spon-wrap h1{
    font-size: 300%;
    color: whitesmoke;
  }
}

@media(max-width: 530px){
  .spon-in ul li {
    width: 90%;
  height: 90%;
  }

  .spon-wrap h1{
    font-size: 300%;
    color: whitesmoke;
  }
}
/** Jury **/ 
.title{
  text-align: center;
  text-transform: capitalize;
  color: maroon;
  margin-top: 50px;
  position: relative;
  font-size: 50px;
  font-weight: 600;
}

/**
.vertical {
  border-left: 2px solid brown;
  position: center;
  width: 1px;
  height: 220px;
  margin-top: 150px;
}**/
.jury-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.jury1{
  flex: 1 1 250px;
  margin: 20px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  max-width: 400px;
  transition: all 0.3s;
  
  
}



.jury1 img{
  display: block;
  width: 200px; height: 200px;
  object-fit: cover;
  border:4px solid brown;
  border-radius: 100%;
  margin: 0 auto;
  
}

.jinsta{
  width: 125px;
  margin: 0 10px;
  margin-left: 2px;
  padding: 10px;
  font-style: italic;
  border-radius: 60px;
  color: rgb(18, 83, 164);
  transition: all 0.3s ease;
}

.instagram{
  display: inline;
  }


.jury h2{
  text-transform: uppercase;
  font-size: 24px;
  color: maroon;
  margin-top: 15px;
  margin-bottom: 0.9px;
}

.jury1 p{
  margin-top: 15px;
  font-size: 15px;
  color: #2c2323;
  line-height: 1.6;
}


/** Participants 
.participants{
  background:rgba(128, 0, 0, 0.81);
  padding:10rem 2rem;
}
.participants hr{
width: 15%;
height: 5px;
border: none;
background: whitesmoke;
margin: auto;
margin-top: 0px;
margin-bottom: 60px;
}

.participants h2 {
text-align: center;
padding: 3rem;
font-size: 60px;
color: whitesmoke;

} 
 
.slick-slide {
margin: 0px 10px;
justify-content: center;
} 
.slick-slide img {
width: 100%;
height: 27vh;
justify-content: center;
}

@media screen and (max-width:850px){
.container h2{
  font-size: 45px;
    text-align: center;
}
}
**/ 


/** Winner  
.winner{
	background-color:rgba(128, 0, 0, 0.81);
	min-height: 100vh;
	padding:70px 15px 30px;
}

.container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}


.winner .section-title{
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.winner .section-title h1{
	font-size: 70px;
	text-align: center;
	margin:0;
	color: white;
	font-weight: 700;
}

.section-title
	hr{
		width: 15%;
		height: 5px;
		border: none;
		background: whitesmoke;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 40px;
	}

.winner .winner-ad{
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.winner .winner-ad .item{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.winner .winner-ad .item img{
	display: block;
	width: 100%;
	border-radius: 8px;
}

.winner .winner-ad .item .inner{
	position: relative;
	z-index: 3;
	padding:0 15px;
}
.winner .winner-ad .item .inner .info{
	background-color: white;
	text-align: center;
	padding: 20px 5px;
	border-radius:20px;
	transition: all .5s ease;
	margin-top: -40px;
}
.winner .winner-ad .item:hover  .info{
    transform: translateY(-20px);
}
.winner .winner-ad .item:hover{
 transform: translateY(-10px);	
}
.winner .winner-ad .item .inner .info h5{
	margin:0;
	font-size: 18px;
	font-weight: 600;
	color: maroon;
}
.winner .winner-ad .item .inner .info p{
	font-size: 16px;
	font-weight: 400;
	color: brown;
	margin:20px 0 0;
}

@media(max-width: 991px){
	.winner .winner-ad .item{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);

   }
}

@media(max-width: 767px){
	.winner .winner-ad .item{
      flex-basis: calc(100%);
       max-width: calc(100%);

   }
}
**/

.win{
  background-color: maroon;
}

.win .main-box{
  max-width: 300px;
}

.win .flex{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.win .inner{
  max-width: 1400px;
  margin: 0 auto;
}



.win .contain{
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.heading {
  width: 100%;
  padding-top: 80px;
}

.heading h2{
  font-size: 60px;
  color: rgba(255, 238, 7, 0.877);
}

.winners-wrap{
  margin-top: 80px;
  margin-bottom: 80px;
}

.winners-img img{
    -webkit-transition: all .2s ease-in-out;
    overflow: hidden;
    width: 300px;
    height: 350px;
    object-fit: cover;
}

.winners-member, .winners-img{
  position: relative;
  overflow: hidden;
}

.winners-title{
  margin: 0px 8 7px;
  font-size:25px;
  padding: 8px;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.award{
  font-size: 20px;
  line-height: 8px;
  color: rgba(255, 238, 7, 0.877);
}
.overlay{
  background-color: rgba(20,20,20,0.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
}

.winners-details{
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 0;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  -webkit-transition: all .2s ease-in-out;
}

.winners-details p{
  color: #fff;
  font-size: 15px;
}

.winners-img:hover .winners-details{
  opacity: 1;
  margin-top: -80px;
}

.winners-img:hover .overlay{
  opacity: 1;
}
 
@media screen and (max-width:1200px) {
  .main-box{
    display: flex;
    flex-direction: column;
  }

  .win .flex{
    align-items: center;
  }
  
  
}

@media screen and (max-width:550px) {
  .main-box{
    display: flex;
    flex-direction: column;
  }

  .win .flex{
    align-items: center;
  }
}

/** 
.Winner{
  padding: 100px 50px;
  background-color: maroon;
  
}

.Winner h1{
  color: rgba(255, 238, 7, 0.877);
  margin-bottom: 40px;
}

.winner-container{
  display: flex;
  gap: 40px;
  justify-content: center;
}
.winner-card{
  width: 300px;
}

.winner-card:hover .bottom-text{
display: block;

}
.winner-card img{
  width: 100%;
  height: 350px;
 object-fit: cover;

}

.top-text{
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
width: 100%;
}

.top-text p{
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  color: rgba(255, 238, 7, 0.877);
  line-height: 20px;
}

.name{
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.bottom-text{
  display: none;
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: #fff;
  border-radius: 5%;
  transition-duration: 10s;
}


@media screen and (max-width: 900px) {
  .winner-container{
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
}
**/

/** Gallery **/

.Gallery h1{
  margin-top: 1.5cm;
  margin-bottom: 40px;
  font-size: 70px;
	text-align: center;
	color: maroon;
	font-weight: 700;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1 1 auto;
  flex-basis: 175px;
  margin: .5em;
  max-width: 530px;
  max-height: 300px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.gallery-item.item-2x3 {
  flex-basis: calc(175px * 0.666);
}
.gallery-item.item-3x4 {
  flex-basis: calc(175px * 0.75);
}
.gallery-item.item-1x1 {
  flex-basis: 175px;
}
.gallery-item.item-4x3 {
  flex-basis: calc(175px * 1.333);
}
.gallery-item.item-3x2 {
  flex-basis: calc(175px * 1.5);
}
.gallery-item.item-8x5 {
  flex-basis: calc(175px * 1.6);
}
.gallery-item.item-2x1 {
  flex-basis: calc(175px * 2);
}
.gallery-item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 13.75C4.5 8.64137 8.64137 4.5 13.75 4.5C18.8586 4.5 23 8.64137 23 13.75C23 18.8586 18.8586 23 13.75 23C8.64137 23 4.5 18.8586 4.5 13.75ZM13.75 0C6.15609 0 0 6.15609 0 13.75C0 21.3439 6.15609 27.5 13.75 27.5C16.3774 27.5 18.8327 26.7631 20.9205 25.4846L30.4906 35.0547C31.7509 36.3151 33.7944 36.3151 35.0547 35.0547C36.3151 33.7944 36.3151 31.7509 35.0547 30.4906L25.4846 20.9205C26.7631 18.8327 27.5 16.3774 27.5 13.75C27.5 6.15609 21.3439 0 13.75 0Z' fill='white'/%3E%3C/svg%3E");
  background-position: center;
  background-size: 1.85rem;
  background-repeat: no-repeat;
  transition: opacity 250ms;
}


.gallery-item:hover .thumb {
  transform: scale(1.05);
}
@media (hover: hover) {
  .gallery-item:hover::after {
    opacity: 1;
  }
  .gallery-item:hover .caption {
    transform: translateY(0);
  }
}
.gallery-item .thumb {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: unset;
  text-align: center;
  background-color: #333;
  transition: filter 500ms, transform 500ms;
}
.ie-fix .gallery-item .thumb {
  width: auto;
}
.gallery-item .placeholder {
  filter: blur(20px);
}

.lightbox-wrapper {
  display: none;
  background-color: #2e2e35;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.lightbox {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}
.lightbox .lightbox-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em;
  font-weight: 600;
  text-align: center;
}
.lightbox .lightbox-header > * {
  opacity: .75;
}
.lightbox .lightbox-close {
  position: relative;
  height: 1.85rem;
  width: 1.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 0;
  border: none;
}
.lightbox .lightbox-close::before, .lightbox .lightbox-close::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 80%;
  background-color: #fff;
}
.lightbox .lightbox-close::before {
  transform: rotate(-45deg);
}
.lightbox .lightbox-close::after {
  transform: rotate(45deg);
}
.lightbox .lightbox-close:hover {
  opacity: -3;
}
.lightbox .lightbox-slides-wrapper {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}
.lightbox .lightbox-arrow {
  position: absolute;
  top: 50%;
  width: 4rem;
  height: 4rem;
  padding: .5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em;
  opacity: .75;
  cursor: pointer;
  filter: drop-shadow(0 0 7px #000);
}
.lightbox .lightbox-arrow:hover {
  opacity: 1;
}
.lightbox .lightbox-arrow.arrow-left {
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='53' viewBox='0 0 32 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 26.5L27.3171 0L32 4.54286L9.36585 26.5L32 48.4571L27.3171 53L0 26.5Z' fill='white'/%3E%3C/svg%3E");
}
.lightbox .lightbox-arrow.arrow-right {
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='53' viewBox='0 0 32 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32 26.5L4.68293 53L0 48.4571L22.6341 26.5L3.83911e-06 4.54286L4.68293 0L32 26.5Z' fill='white'/%3E%3C/svg%3E");
}
.lightbox .lightbox-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  transition: all 0ms ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.lightbox .lightbox-slide[data-state="prev"] {
  transform: translateX(-100%);
  opacity: 0;
}
.lightbox .lightbox-slide[data-state="next"] {
  transform: translateX(100%);
  opacity: 0;
}
.lightbox .lightbox-image {
  display: none;
  max-width: 100%;
  max-height: 100%;
}
.lightbox .spinner {
  display: none;
}

/* only overriding footer color here   */

.footer-wrapper{
  background-color: maroon;
}


.footer-wrapper h1{
 color: white;
}

.contact-card h4{
  color: white;
}

.email-area i{
 color: rgb(195, 201, 120);
}

.email-area a{
  color: rgb(195, 201, 120) !important;    
 }


 .phone-area i{
  color: white;
 }
 
 .phone-area p{
   color: white !important;    
  }
 
  .footer-ecell{
    background-color: white;
  }
 
  .footer-ecell a{
   color: maroon;
  }

  .footer-ecell h5{
    color: maroon;
  }
 

  /* footer css ends  */