.testimony{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #eefafc;
    padding: 75px 0px;
}
.testimony h1 {
    font-size: 2.5em;
    font-weight: 600;
    color: var(--font-blk);
    text-align: center;
}

.testim-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;

}

.testim-image {
    width: 40%;
}

#testim-img {
    width: 100%;
    height: 50%;
}

.testim-text-wrapper {
    text-align: justify;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 50%;
}

.testim-quote-icon {
    align-self: flex-end;
    max-width: 5%;
    max-height: 5%;
}
.testim-text-wrapper p {
    text-align: right;
    font-size: 2.2vh;
}

.testim-text-wrapper q {
    font-weight: 400;
    font-size: 25px;
    padding-bottom: 6vh;
}

.testim-text-wrapper h4 {
    text-align: right;
    font-weight: bolder;
    /* font-size: 150%; */
    font-size: 3vh;
}

@media screen and (max-width: 900px) {

    .testim-image {
        width: 100%;
    }

    #testim-img {
        width: 100%;
        height: 50%;
    }

    .testim-wrapper {
        flex-direction: column;
        padding: 10px 20px;
        align-items: center;
    }
    .testim-text-wrapper {
        width: 100%;
    }

    .testim-text-wrapper p {
        font-size: 3vh;
    }

    .testim-text-wrapper q {
        font-weight: 300;
        font-size: 2.2vh;
    }

    .testim-text-wrapper h4 {
        font-weight: bolder;
        font-size: 3vh;
    }
}

@media screen and (max-width: 450px) {
    .testim-text-wrapper q {
        font-weight: 300;
        font-size: 1.7vh;
    }

    
    .testim-text-wrapper h4 {
        font-weight: bolder;
        font-size: 2vh;
    }

    .testim-text-wrapper p {
        font-size: 2vh;
    }


}