.testimony h1 {
    font-size: 2.5em;
    font-weight: 600;
    color: var(--font-blk);
    padding-top: 5%;
    text-align: center;
}

.testim-wrapper {
    display: flex;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 30%;
    padding-left: 15%;
    gap: 2%;
}

.testim-image {
    width: 40%;
}

#testim-img {
    width: 100%;
    height: 50%;
}

.testim-text-wrapper {
    width: 50%;
    display: inline-block;
    gap: 2%;
    height: 50%;
}

.testim-quote-icon {
    align-self: flex-end;
    max-width: 5%;
    max-height: 5%;
}

.testim-text-wrapper p {
    font-size: 4vh;
}

.testim-text-wrapper q {
    font-weight: 400;
    font-size: 7vh;
}

.testim-text-wrapper h4 {
    font-weight: bolder;
    /* font-size: 150%; */
    font-size: 3vh;
}

@media screen and (max-width: 60em) {

    .testim-image {
        width: 100%;
        padding-bottom: 8%;
    }

    #testim-img {
        width: 100%;
        height: 50%;
    }

    .testim-wrapper {
        display: table;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 30%;
        padding-right: 10%;
        width: 100%;
        padding-left: 10%;
    }


    .testim-text-wrapper {
        width: 100%;
        display: inline-block;
        gap: 2%;
        height: 50%;
    }


    .testim-text-wrapper p {
        font-size: 4vh;
    }

    .testim-text-wrapper q {
        font-weight: 400;
        font-size: 4.5vh;
        line-height: 0.9;
    }

    .testim-text-wrapper h4 {
        font-weight: bolder;
        /* font-size: 150%; */
        font-size: 3vh;
    }
}