*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body , html {
    overflow-x: hidden;
    overflow-y:auto;
    scroll-behavior: 2rem;
    height: 100%;
  }

@font-face {
    font-family: 'Zoika';
    src: url(./assets/fonts/Zoika.ttf) format("truetype");
}

@font-face {
    font-family: 'Norwester';
    src: url('./assets/fonts/norwester.otf') format("opentype");
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #c9c8c8;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b3b2b2;
}


nav {
	position: sticky;
	display: flex;
	justify-content: space-between;
  font-family: "Norwester";
	z-index: 30;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 70px;
	background-color: #DF0808;
}
nav .logo {
	height: 70px;
	padding: 10px 0px;
}

nav .logo-wrapper{
display: flex;
gap: 20px;

}

@media screen and (max-width: 500px) {
	.logo{
		padding: 10px 10px;
	}
}

nav .links {
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	text-decoration: none;
}

nav .links a:hover {
  opacity: 0.7;
}


#nav-toggle {
	position: absolute;
	display: none;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: rgb(255, 255, 255);
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

@media screen and (max-width: 1025px) {
	nav .links a {
		font-size: 13.5px;
	}
}
@media screen and (max-width: 900px) {
	nav .links {
		float: none;
		position: fixed;
		z-index: 29;
		left: 0;
		right: 0;
		top: 70px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: #DF0808;
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
    color: rgb(255, 255, 255);
	}
	nav :checked ~ .links {
		bottom: -10px;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}


.fhero{
    width: 100%;
    height: 100%;
    background-image: url(./assets/images/hero_section/fading-ecell-text-slightlyahead.png); 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ff0000;
    position: relative;
    
}

.fhero img{
    height: 25%;
    width: 25%;
    position: center;
}




.fhero h1{
    font-family: 'Zoika';
    font-size: 6rem;
    color: aliceblue;
    position: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-shadow: 0px 0px 100px #af0b0b,0px 0px 60px #a00a0a ;
    /*filter: drop-shadow(0px 0px 100px #0b1fd3);*/
}

.fhero h2{
    font-size: 1.2rem;
    color: aliceblue;
    position: center;
    justify-content: center;
    font-family: 'Norwester';
    font-weight: normal;
    text-align: center; 
}

.separator {
  height: 24%;
  width: 110%;
  background: url(./assets/images/common/ffpapert.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -15%;
  z-index: 20;
}

@media screen and (max-width:1250px){

  .separator {
    height: 24%;
    width: 110%;
    bottom: -19%;
    z-index: 20;
  }

}
@media screen and (max-width:850px){
  .separator {
    height: 24%;
    width: 110%;
    bottom: -20.7%;
    z-index: 20;
  }
}
@media screen and (max-width:570px){
  .separator {
    height: 24%;
    width: 110%;
    bottom: -21%;
  }

  .fhero img{
    height: 45%;
    width: 45%;   
    margin-top: 100px;
}

  .fhero h1{
    font-size: 320%;
}

.fhero h2{
    font-size: 100%;
    padding-left: 14px;
    padding-right: 14px; 
}
}




.judge{
  height: auto;
  width: 100%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.judge img{
  height: auto;
  width: 100%;
  object-fit: cover;
}

.jud1{
  position: absolute;
  top: 85%;
  left: 20%;
  font-size: 160%;
  color: aliceblue;
  position: center;
  justify-content: center;
  font-family: 'Norwester';
  font-weight: normal;
  text-align: center; 
  text-decoration: none;
}
.jud2{
  position: absolute;
  top: 80%;
  left: 42%;
  font-size: 160%;
  color: aliceblue;
  position: center;
  justify-content: center;
  font-family: 'Norwester';
  font-weight: normal;
  text-align: center; 
  text-decoration: none;
}
.jud3{
  position: absolute;
  top: 85%;
  left: 68%;
  font-size: 160%;
  color: aliceblue;
  position: center;
  justify-content: center;
  font-family: 'Norwester';
  font-weight: normal;
  text-align: center; 
  text-decoration: none;
}

@media screen and (max-width:775px){
  .judge{
    margin-top: 0%;}
 .mobjudback{
    height: auto;
    width: 100%;
    object-fit: cover;
  }
  .jud1{
    top: 85%;
    left: 20%;
    font-size: 100%;
  }
  .jud2{
    top: 80%;
    left: 42%;
    font-size: 100%;
  }
  .jud3{
    top: 85%;
    left: 68%;
    font-size: 100%;
  }
  
}
@media screen and (max-width:500px){
  .judge{
    margin-top: 0%;}
  .jud1{
    top: 90%;
    left: 8%;
    font-size: 120%;
  }
  .jud2{
    top: 85%;
    left: 37%;
    font-size: 120%;
  }
  .jud3{
    top: 90%;
    left: 70%;
    font-size: 120%;
  }

}

.spon{
    height: 100%;
    width: 100%;
    background-image: url(./assets/images/horizontalwallred.png);
    justify-content: center;
    align-items: center;
    position: relative;
  }
 
 

 .spon h1{
    font-size: 7rem;
    text-align: center;
    padding-top: 100px;
    font-family: 'Zoika';
    font-size: 6rem;
    color: aliceblue;
    position: center;
    justify-content: center;
    align-content: center;
    text-align: center;
 }

 .spon-wrap{
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 8%;
}


.spon-in {
  width: 100%;
  height: auto;
}
.spon-in ul{
  padding: 0;
  margin: 0;
}
.spon-in ul li{
  list-style: none;
  display: inline-block;
  width: 20rem;
  height: 20rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 3rem;
  transition: .10s;
}
.spon-in ul li img{
  width: 60%;
  height: 60%;
  background: #ffffff25;
  border: 8px solid #ddd;
  border-radius: 15px;
  padding: 5px;
  width: 180px;
}
.spon-in ul li img:hover{
  transform: scale(0.8);
  z-index: 3s;
}

@media(max-width: 1120px){
  .spon{
    height: auto;
    width: 100%;
  }
  .spon-in ul li {
    width: 40%;
  height: 40%;
  }
  .spon h1{
    font-size: 600%;
  }
}

@media(max-width: 530px){

  .spon{
    height: auto;
    width: 100%;
  }
  .spon-in ul li {
    width: 55%;
  height: 55%;
  margin-bottom: 60px;
  border: 4px;
  border-radius: 15px;
  padding: 2px;
  width: 180px;
  }

  .spon h1{
    padding-top: 50px;
    font-size: 400%;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
  
}





 .register{
    background-color: rgb(128,129,133);
    position: relative;
    height: auto;
 }
.register .regimg{
    position: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0;
    padding-right: 0;
    object-fit: contain;
}

.register .regcontainer .button{
  margin-top: 0px;
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.register .regcontainer .button a{
  background-color: #ED1B25;
  padding: 1rem 3rem;
  text-decoration: none;
  color: aliceblue;
  font-size: 2rem;
  font-family: "Zoika";
  letter-spacing: 1.5px;
  border-radius: 12px;
}

.register .regcontainer .button a:hover{
  background-color: aliceblue;
  color: #ED1B25;
}

.regseparator {
  height: 24%;
  width: 110%;
  background: url(./assets/images/common/ffpapert.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -18.5%;
  z-index: 20;
}

@media screen and (max-width:1043px){

  .regseparator {
    height: 24%;
    width: 110%;
    bottom: -21%;
    z-index: 20;
  }

}
@media screen and (max-width:750px){
  .regseparator {
    height: 24%;
    width: 110%;
    bottom: -20%;
    z-index: 20;
  }
}
@media screen and (max-width:505px){
  .regseparator {
    height: 24%;
    width: 110%;
    bottom: -19%;
  }
}
@media screen and (max-width:1250px){
  .register{
    height:auto;
 }
}
@media screen and (max-width:700px){
  .register{
    height:auto;
 }
 .register .regcontainer .button a{
  padding: 0.3rem 1rem;
  font-size: 100%;
  letter-spacing: .8px;
  border-radius: 12px;
}
.register .regcontainer .button{
  top: 90%;
}
}
.zaika{
    height: 110vh;
    width: 100%;
    position: relative;
    background: url(./assets/images/zaika/WhatsApp\ Image\ 2023-02-09\ at\ 12.24.00\ PM.jpeg);
 }

 /**
.zaika .zaicontainer{
    position: center;
    align-items: center;
    width: 100%;
    padding-bottom: 0;
    padding-right: 0;
}
.zaika h1{
   justify-content: center;
   align-items: center;
  font-size: 100px;
}
.zaika h2{
  font-size: 18px;
}

.zaika .zaikamob {
  height: 20%;
  width: 20%;
  margin-left: 70%;
  position: relative;
}
**/

.zaikacontainer {
  width: 80%;
  display: block;
  margin: auto;
}

.content-section {
  float: left;
  width: 60%;
  margin-top: 10%;
}

.zaikacontainer .image-section {
  float: right;
  width: 40%;
  right: 0%;
}

.image-section img{
  width: 100%;
 margin-top: 5%;
  padding: 21%;
}

.content-section .title {
  text-transform: uppercase;
}


.content-section .title h1{
    font-size: 10rem;
    position: center;
    justify-content: center;
    align-content: center;
    text-align: left;
    font-family: 'Zoika';
    color: aliceblue;
    
}


.content-section .content p{
  color: #fff;
  margin-top: 5px;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  line-height: 1.5;
  justify-content: center;
  font-family: "Norwester";
  font-weight: 100;
}

.content-section .content .button{
  margin-top: 40px;
}


.content-section .content .button {
  background-color: #960001;
  padding: 17px 40px;
  text-decoration: none;
  color: aliceblue;
  font-size: 2rem;
  letter-spacing: 1.5px;
  border-radius: 12px;
  font-family: "Zoika";
}

.content-section .content .button:hover{
  background-color: aliceblue;
  color: #960001;
}


.modalbg {
  position: fixed;
  font-family: "Zoika";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99999;
  -moz-transition: all 2s ease-out;
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
  display: block;
  pointer-events: none;
}
.modalbg .dialog {
  width: 50%;
  height: auto;
  position: relative;
  top: -8000px;
  margin: 25% auto;
  padding: 35px ;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #960001;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
}
.modalbg .dialog .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}
.modalbg:target {
  display: block;
  pointer-events: auto;
  background: rgba(4, 10, 30, 0.8);
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.modalbg:target .dialog {
  top: -90px;
  -moz-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -transition-delay: 0.4s;
}
.close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -transition-delay: 0.2s;
}
.close .ie7 {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
}
.close:hover {
  background: #ffffff;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}



@media screen and (max-width:950px){
  .content-section .title h1{
    margin-top: 10%;
    font-size: 450%;
}
.image-section img{
  width: 125%;
  margin-top: 150px;
}
.content-section .content .button a{
  padding: 0.8rem 1.9rem;
  font-size: 150%;
  letter-spacing: .8px;
  border-radius: 12px;
}


}
@media screen and (max-width:500px){

  .content-section .title h1{
    margin-top: 10%;
    font-size: 450%;
}

.modalbg .dialog {
  margin: 35% auto;}

.content-section .content p{
  font-size: 100%;
}
.content-section .content .button {
  padding: 0.8rem 1.5rem;
  font-size: 100%;
  letter-spacing: .8px;
  border-radius: 12px;
}
.zaikacontainer .image-section {
  float: right;
  width: 30%;
  right: 0%;
}

.image-section img{
  width: 300%;
  height: auto;
}
}


/** Gallery **/
.Gallery{
  background-image: url(./assets/images/horizontalwallred.png);
  
}
.Gallery h1{
  padding-top: 100px;
  margin-bottom: 40px;
  font-size: 7rem;
	text-align: center;
	color: rgb(255, 255, 255);
	font-weight: 700;
  font-family: 'Zoika';
}
@media screen and (max-width:500px){
  .Gallery h1{
    font-size: 350%;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1 1 auto;
  flex-basis: 175px;
  margin: .5em;
  max-width: 530px;
  max-height: 300px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  /**border: 3px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgb(0, 2, 12), 0 6px 20px 0 rgba(1, 12, 34, 0.89);**/

  border: 10px solid #b97c46;
  box-shadow: 0px 0px 4px 2px rgb(90, 5, 5);

}
.gallery-item.item-2x3 {
  flex-basis: calc(175px * 0.666);
}
.gallery-item.item-3x4 {
  flex-basis: calc(175px * 0.75);
}
.gallery-item.item-1x1 {
  flex-basis: 175px;
}
.gallery-item.item-4x3 {
  flex-basis: calc(175px * 1.333);
}
.gallery-item.item-3x2 {
  flex-basis: calc(175px * 1.5);
}
.gallery-item.item-8x5 {
  flex-basis: calc(175px * 1.6);
}
.gallery-item.item-2x1 {
  flex-basis: calc(175px * 2);
}
.gallery-item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 13.75C4.5 8.64137 8.64137 4.5 13.75 4.5C18.8586 4.5 23 8.64137 23 13.75C23 18.8586 18.8586 23 13.75 23C8.64137 23 4.5 18.8586 4.5 13.75ZM13.75 0C6.15609 0 0 6.15609 0 13.75C0 21.3439 6.15609 27.5 13.75 27.5C16.3774 27.5 18.8327 26.7631 20.9205 25.4846L30.4906 35.0547C31.7509 36.3151 33.7944 36.3151 35.0547 35.0547C36.3151 33.7944 36.3151 31.7509 35.0547 30.4906L25.4846 20.9205C26.7631 18.8327 27.5 16.3774 27.5 13.75C27.5 6.15609 21.3439 0 13.75 0Z' fill='white'/%3E%3C/svg%3E");
  background-position: center;
  background-size: 1.85rem;
  background-repeat: no-repeat;
  transition: opacity 250ms;
}


.gallery-item:hover .thumb {
  transform: scale(1.05);
}
@media (hover: hover) {
  .gallery-item:hover::after {
    opacity: 1;
  }
  .gallery-item:hover .caption {
    transform: translateY(0);
  }
}
.gallery-item .thumb {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: unset;
  text-align: center;
  background-color: #333;
  transition: filter 500ms, transform 500ms;
}
.ie-fix .gallery-item .thumb {
  width: auto;
}
.gallery-item .placeholder {
  filter: blur(20px);
}

.lightbox-wrapper {
  display: none;
  background-color: #2e2e35;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.lightbox {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}
.lightbox .lightbox-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em;
  font-weight: 600;
  text-align: center;
}
.lightbox .lightbox-header > * {
  opacity: .75;
}
.lightbox .lightbox-close {
  position: relative;
  height: 1.85rem;
  width: 1.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 0;
  border: none;
}
.lightbox .lightbox-close::before, .lightbox .lightbox-close::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 80%;
  background-color: #fff;
}
.lightbox .lightbox-close::before {
  transform: rotate(-45deg);
}
.lightbox .lightbox-close::after {
  transform: rotate(45deg);
}
.lightbox .lightbox-close:hover {
  opacity: -3;
}
.lightbox .lightbox-slides-wrapper {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}
.lightbox .lightbox-arrow {
  position: absolute;
  top: 50%;
  width: 4rem;
  height: 4rem;
  padding: .5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em;
  opacity: .75;
  cursor: pointer;
  filter: drop-shadow(0 0 7px #000);
}
.lightbox .lightbox-arrow:hover {
  opacity: 1;
}
.lightbox .lightbox-arrow.arrow-left {
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='53' viewBox='0 0 32 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 26.5L27.3171 0L32 4.54286L9.36585 26.5L32 48.4571L27.3171 53L0 26.5Z' fill='white'/%3E%3C/svg%3E");
}
.lightbox .lightbox-arrow.arrow-right {
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='53' viewBox='0 0 32 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32 26.5L4.68293 53L0 48.4571L22.6341 26.5L3.83911e-06 4.54286L4.68293 0L32 26.5Z' fill='white'/%3E%3C/svg%3E");
}
.lightbox .lightbox-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  transition: all 0ms ease;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.lightbox .lightbox-slide[data-state="prev"] {
  transform: translateX(-100%);
  opacity: 0;
}
.lightbox .lightbox-slide[data-state="next"] {
  transform: translateX(100%);
  opacity: 0;
}
.lightbox .lightbox-image {
  display: none;
  max-width: 100%;
  max-height: 100%;
}
.lightbox .spinner {
  display: none;
}



/* only overriding footer color here   */

.footer-wrapper{
  background-color: maroon;
}


.footer-wrapper h1{
 color: white;
}

.contact-card h4{
  color: white;
}

.email-area i{
 color: rgb(195, 201, 120);
}

.email-area a{
  color: rgb(195, 201, 120) !important;    
 }


 .phone-area i{
  color: white;
 }
 
 .phone-area p{
   color: white !important;    
  }
 
  .footer-ecell{
    background-color: white;
  }
 
  .footer-ecell a{
   color: maroon;
  }

  .footer-ecell h5{
    color: maroon;
  }
 

  /* footer css ends  */